body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#dashboard {
    display: grid;
    grid-template-areas:
        "controls controls"
        "portfolio trade-log";
    gap: 20px;
    width: 80%;
}

#controls {
    grid-area: controls;
}

#portfolio {
    grid-area: portfolio;
}

#trade-log {
    grid-area: trade-log;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}